jupyter
jupyterLab
ipykernel
ipywidgets
ipympl
ipycanvas
ipyevents
ipywebrtc
transformers
requests
numpy
matplotlib
pandas
scipy
scikit-learn
scikit-image
sympy
spacy
cython
docker
xonsh
llama-cpp-python
google.generativeai
cohere
litellm
